

body { padding-top: 50px; }
@media screen and (max-width: 1200px) {
    body { padding-top: 0px; }
    .navbar {
        display: none;
    }
}



section {
    width: 100%;
    padding: 0 7%;
    display: table;
    max-width: none;
    background-color: #373B44;
    height: 95vh;       
  }

  .section—first {
    height: 90vh;
    background-color: aqua;
    display: table;
}


.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: auto;
    border: 5px solid cornflowerblue;
}

.big-text {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
}

.important-text {
    font-weight: bold;
    text-transform: uppercase;
}

.strong-text {
    color: #3C3C40;;
}

.light-text {
    color: #C2C2C2;
}

.container-fluid {
    padding: 0%;
}

