

body { padding-top: 50px; }


@media screen and (max-width: 768px) {
    h1{
        font-size:14px;
    }


}


.btn-circle {
    width: 60px;
    height: 60px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.red-text {
    color: brown;
}

section {
    width: 100%;
    padding: 0 7%;
    display: table;
    max-width: none;
    height: 95vh;       
  }

  .section—first {
    width: 100%;
    padding: 0 7%;
    display: table;
    max-width: none;
    height: 90vh;  
}


.profile-pic {
    border-radius: 50%;
    width: 300px;
    height: auto;
    border: 5px solid brown;
}

.big-text {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
}

.important-text {
    font-weight: bold;
    text-transform: uppercase;
}

.strong-text {
    color: #3C3C40;;
}

.light-text {
    color: #C2C2C2;
}

.container-fluid {
    padding: 0%;
}

